header 
    position: fixed
    z-index: 999
    background-color: #202020
    min-height: 60px
    width: 100%
    .nav          
        &_link 
            padding: 20px 15px
            height: 68px
            img 
                max-height: 28px
        &_menu 
            .menu 
                padding: 0
                margin: 0
                display: flex
                flex-direction: row 
                justify-content: space-between  
                list-style-type: none
                &_link 
                    color: #fff
                    text-transform: uppercase 
                    padding: 20px 15px  
                    font-size: 14px
        &_btns 
            display: flex
            flex-direction: row 
            align-items: center
            justify-content: flex-end
            height: 68px
        &_btn 
            padding: 23px 18px           
            &_img
                max-height: 25px
nav 
    .row 
        align-items: center

.about 
    position: relative
    top: 68px
    min-height: 537px
    background: #121212
    padding-top: 82px
    &_info 
        margin: 0 auto
        max-width: 881px
        background: #191919
        border-radius: 55px
        padding: 26px 35px
        &_img 
            display: block
            max-height: 46px
            margin: 0 auto
            margin-bottom: 32px
        p 
            line-height: 23px
            margin-bottom: 10px
            text-align: center
            strong 
                font-weight: 700
            a 
                color: #fff
                font-style: italic
